.App {
  font-family: sans-serif;
  text-align: center;
}

button{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.1s linear;
}

button:disabled{
  cursor: default;
  background-color: #c9c9c9;
  color: black;
}

.action-button:hover{
  background-color: #ffc107;
}

.user-list-empty{
  height:  100px;
  line-height:  100px;
  font-size: 22px;
  margin: 0 auto;
}

.user-list {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.user-item {
  width: 230px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  text-align: left;
}

.user-item p {
  font-size: 14px;
}

.user-item p span {
  color: #9e9e9e;
}

.user-item-button button {
  display: block;
  width: 100%;
  background-color: #ffc107;
  margin-top: 50px;
}

.user-item-button button:hover{
  background-color: #c9c9c9;
}


.user-item:hover{
  box-shadow: 0 2px 5px rgb(0 0 0 / 24%);
}

.informer {
  display: flex;
  justify-content: center;
}

.informer-item {
  margin: 20px;
}

.btn-list {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  margin: 5px;
}